@model Pryanichek_version_1000.Models.NewProduct

@{
    ViewData["Title"] = "Страничка пекаря";
    Layout = "~/Views/Shared/_Baker_Layout.cshtml";
}
<html>
<head>
    <script type="text/javascript">
        window.PopStateEvent = history.go(1);
    </script>
</head>
<body>

    <div>
    </div>
    <aside>
        <div class="widget">
            <h3 class="widget-title">Быстрый поиск</h3>
            <ul class="widget-list">
                <li><a href="/Baker/Products">Список изделий</a></li>
                <li><a href="/Baker/CurrentList">Текущие заказы</a></li>
                <li><a href="/Baker/Orders">Выполненные заказы</a></li>
                <li><a href="/Baker/AddProducts">Что нужно допечь?</a></li>
            </ul>
        </div>
    </aside>

    <section>
        <form action="/Baker/ProductUpdate" method="post">
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between" style="color: #444; font-family: 'Roboto', sans-serif; font-size: 16px">
                        <h6 class="mb-1">Время приготовления (в минутах):</h6>
                        <input type="number" size="3" name="PreparingTime" min="20" max="4320" value="@Model.PreparingTime">
                        <span asp-validation-for="PreparingTime" style="color:crimson"></span>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between" style="color: #444; font-family: 'Roboto', sans-serif; font-size: 16px">
                        <h6 class="mb-1">Рецепт:</h6>
                        <textarea rows="10" cols="50" name="Recipe">@Model.Recipe</textarea>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between" style="color: #444; font-family: 'Roboto', sans-serif; font-size: 16px">
                        <input type="hidden" name="ProductNo" value="@Model.ProductNo" />
                        <button type="submit" class="btn btn-success">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between" style="color: #444; font-family: 'Roboto', sans-serif; font-size: 16px">
                <form action="/Baker/Products" method="post">
                    <input type="hidden" name="ProductNo" value="@Model.ProductNo" />
                    <button type="submit" class="btn btn-danger">Отменить изменения</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
