
@model Pryanichek_version_1000.Models.Loginn

@{
    ViewData["Title"] = "Страничка пекаря";
    Layout = "~/Views/Shared/_Baker_Layout.cshtml";
}
<html>
<head>
    <script type="text/javascript">
        window.PopStateEvent = history.go(1);
    </script>
</head>
<body>

    <div>
    </div>
    <aside>
        <div class="widget">
            <h3 class="widget-title">Быстрый поиск</h3>
            <ul class="widget-list">
                <li><a href="/Baker/Products">Список изделий</a></li>
                <li><a href="/Baker/CurrentList">Текущие заказы</a></li>
                <li><a href="/Baker/Orders">Выполненные заказы</a></li>
                <li><a href="/Baker/AddProducts">Что нужно допечь?</a></li>
            </ul>
        </div>
    </aside>


</body>
</html>