@model IEnumerable<Product>

@{
    ViewData["Title"] = "Страничка продавца";
    Layout = "~/Views/Shared/_New_Layout2.cshtml";
}

<html>
<head>
    <script type="text/javascript">
        window.PopStateEvent = history.go(1);
    </script>
</head>
<body>


    <aside>
        <div class="widget">
            <h3 class="widget-title">Быстрый поиск</h3>
            <ul class="widget-list">
                <li><a href="/Seller/Price">Стоимость изделия</a></li>
                <li><a href="/Seller/ProductList">Ассортимент</a></li>
                <li><a href="/Seller/NewOrder">Изделие под заказ</a></li>
                <li><a href="/Seller/Allergic">Определить аллегренные компоненты в изделии</a></li>
                <li><a href="/Seller/CreateCheck">Добавить чек</a></li>
                <li><a href="/Seller/Receipts"> Просмотреть список чеков за определенную дату</a></li>
                <li><a href="/Seller/ReceiptPeriod"> Просмотреть список чеков за период</a></li>
            </ul>
        </div>
    </aside>
    
    <section>
        
            <div width="600" style="background-color:white">
                <table align="center">
                    <thead>
                        <tr>
                            <td valign="middle">Изделие</td>
                            <td valign="middle">Цена</td>
                            <td valign="middle"></td>
                        </tr>
                    </thead>
                    <tbody>
                       
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td valign="middle">@i.ProductName</td>
                                    <td valign="middle">@i.Price</td>

                                    <td valign="middle">
                                        <form action="/Seller/AddToCard" method="get">
                                            <input type="hidden" name="ProductNo" value="@i.ProductNo" />
                                            <button type="submit" class="btn btn-secondary">Добавить в чек</button>
                                        </form>
                                    </td>

                                </tr>
                                }
                            <tr>
                                <td valign="middle">
                                    <form action="/Seller/ComeBack" method="get">
                                        <button type="submit" class="btn btn-danger">Отменить действие</button>
                                    </form>
                                </td>

                            </tr>
                        </tbody>
                    </table>

            </div>
       
        
    </section>
   

</body>
