@model Pryanichek_version_1000.Models.Loginn

@{
    ViewData["Title"] = "Страничка владельца";
    Layout = "~/Views/Shared/_Baker_Layout.cshtml";
}
<html>
<head>
    <script type="text/javascript">
        window.PopStateEvent = history.go(1);
    </script>
</head>
<body>
    <div>
    </div>
    <aside>
        <div class="widget">
            <h3 class="widget-title">Быстрый поиск</h3>
            <ul class="widget-list">
                <li><a href="/Owner/Prodazi">Сумма продаж во всех пекарнях</a></li>
                <li><a href="/Owner/Information">Информация о пекарне</a></li>
            </ul>
        </div>
    </aside>
</body>
</html>

